<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰게시판</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reviewboard/boardDetail.css">
    <script src="/jq/jquery-3.7.0.min.js"></script>
    <script src="/jq/jquery.form.min.js"></script>
    <script src="/js/cafemap/mapMain.js"></script>


    <script src="https://kit.fontawesome.com/fb453b869a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>


</head>
<body>

<section class="notice">
    <div class="page-title">
        <div class="container">
            <h3>리뷰게시판</h3>
        </div>
    </div>


    <!-- board list area -->
    <div id="board-list">
        <div class="container">

            <div class="xans-element- xans-board xans-board-read-4 xans-board-read xans-board-4 "><!--

        -->
                <div class="boardRead">
                    <div class="title">
                        <strong class="label hide">제목</strong>
                        <h3>컬러감.디자인 모두 만족해요.예쁘게 잘입을게요</h3>
                    </div>
                    <div class="info">
                        <p class="writer">
                            <strong class="label hide">작성자</strong>

                        </p>
                        <p class="regdate displaynone">
                            <strong class="label hide">작성일</strong>
                            2023-02-11 </p>
                        <p class="hit displaynone">
                            <strong class="label">조회</strong>
                            8 </p>


                    </div>
                    <div class="content">
                        <strong class="label hide">내용</strong>
                        <img src="//m.mainbooth.co.kr/file_data/young7186/2023/02/11/3ef33f4a2b5be660b3a97ab6552fe105.jpg"
                             border="0" alt="" width="587px"><br>
                        <p></p>
                        <div class="fr-view fr-view-article"><p class="word">컬러감.디자인 모두 만족해요.예쁘게 잘입을게요</p><br><br></div>
                        <p></p>
                    </div>
                    <p class="attach ">
                        <strong class="label">첨부파일</strong>
                        <span><a href="#none"
                                 onclick="BOARD_READ.file_download('/exec/front/Board/download/?no=12232&amp;realname=2023/02/11/3ef33f4a2b5be660b3a97ab6552fe105.jpg&amp;filename=20230209_202058.jpg');">20230209_202058.jpg</a> </span>
                    </p>
                    <div class="password displaynone">
                        <strong class="label displaynone ">비밀번호</strong>
                        <div class="form ">
                            <span class="passwordForm "><input id="password" name="password" fw-filter=""
                                                               fw-label="비밀번호" fw-msg=""
                                                               onkeydown="if (event.keyCode == 13 || event.which == 13) { return false; }"
                                                               value="" type="password"></span>
                            <span class="gRight">
                        <a href="/board/product/modify.html?board_act=edit&amp;no=12232&amp;board_no=4"
                           class="btnBasic displaynone">수정</a>
                        <button class="btnBasic displaynone"
                                onclick="BOARD_READ.article_delete('BoardDelForm','4');">삭제</button>
                    </span>
                            <p class="">비밀번호 입력후 수정 혹은 삭제해주세요.</p>
                        </div>
                    </div>
                    <div class="ec-base-button">
                        <div class="gLeft"><a href="/board/review/4/" class="btnStrong">목록</a></div>
                        <a href="/board/product/reply.html" class="btnStrong displaynone">답변쓰기</a>
                    </div>
                </div>
            </div>


            <div class="xans-element- xans-board xans-board-commentpackage-4 xans-board-commentpackage xans-board-4 ">
                <div class="xans-element- xans-board xans-board-commentempty-4 xans-board-commentempty xans-board-4 ">
                    <div class="commentTitle">
                        <h3>댓글목록</h3>
                    </div>
                    <p>등록된 댓글이 없습니다.</p>
                </div>
                <form id="commentForm" name="" action="/exec/front/Board/CommentUpdate/4" method="post" target="_self"
                      enctype="multipart/form-data" style="display: none;">
                    <input id="board_no" name="board_no" value="4" type="hidden">
                    <input id="no" name="no" value="12232" type="hidden">
                    <input id="comment_no" name="comment_no" value="" type="hidden">
                    <input id="member_id" name="member_id" value="" type="hidden">
                    <div class="xans-element- xans-board xans-board-commentform-4 xans-board-commentform xans-board-4 ">
                        <div class="boardCommentModify">
                            <fieldset>
                                <legend>댓글 수정</legend>
                                <div class="info">
                                    <p class="name">
                                        <strong class="label">이름 </strong>
                                        <input id="comment_name" name="comment_name" fw-filter="isFill" fw-label="댓글작성자"
                                               fw-msg="" class="inputTypeText" placeholder="" value="" type="text"></p>
                                    <p class="modifyPassword">
                                        <strong class="label">비밀번호</strong>
                                        <input id="comment_password" name="comment_password" fw-filter="isFill"
                                               fw-label="댓글비밀번호" fw-msg="" value="" type="password"></p>
                                </div>
                                <p class="modifyComment">
                                    <strong class="label hide">내용</strong>
                                    <textarea id="comment_modify" name="comment_modify" fw-filter="isFill"
                                              fw-label="댓글내용" fw-msg=""></textarea></p>
                                <div class="ec-base-button">
                                    <p class="modifyByte displaynone"> / byte</p>
                                    <div class="secret gLeft displaynone">
                                        <label> 비밀댓글</label>
                                    </div>
                                    <a href="#none" class="btnStrong mini"
                                       onclick="BOARD_COMMENT.comment_update_ok('commentForm');">수정</a>
                                    <a href="#none" class="btnNormal mini"
                                       onclick="BOARD_COMMENT.comment_cancel_ok_new('commentForm');">취소</a>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form><!-- 비밀댓글 확인 -->
                <form id="commentSecretForm" name="" action="/exec/front/Board/CommentSecret/4" method="post"
                      target="_self" enctype="multipart/form-data" style="display: none;">
                    <input id="board_no" name="board_no" value="4" type="hidden">
                    <input id="comment_no" name="comment_no" value="" type="hidden">
                    <input id="pass_check" name="pass_check" value="F" type="hidden">
                    <div class="xans-element- xans-board xans-board-commentformsecret-4 xans-board-commentformsecret xans-board-4 ec-base-button ">
                        <div class="gLeft">비밀번호 : <input id="secure_password" name="secure_password" fw-filter="isFill"
                                                         fw-label="댓글비밀번호" fw-msg="" value="" type="password"></div>
                        <a href="#none" class="btnStrong mini"
                           onclick="BOARD_COMMENT.show_secret_comment('commentSecretForm');">확인</a>
                        <a href="#none" class="btnNormal mini"
                           onclick="BOARD_COMMENT.hide_secret_comment_form('commentSecretForm');">취소</a>
                    </div>
                </form>
                <form id="commentWriteForm" name="" action="/exec/front/Board/CommentWrite/4" method="post"
                      target="_self" enctype="multipart/form-data">
                    <input id="board_no" name="board_no" value="4" type="hidden">
                    <input id="no" name="no" value="12232" type="hidden">
                    <input id="comment_no" name="comment_no" value="" type="hidden">
                    <input id="member_id" name="member_id" value="" type="hidden">
                    <div class="xans-element- xans-board xans-board-commentwrite-4 xans-board-commentwrite xans-board-4 ">
                        <div class="boardCommentWrite ">
                            <fieldset>
                                <legend>댓글 입력</legend>
                                <div class="info">
                                    <p class="name ">
                                        <strong class="label">이름</strong>
                                        <input id="comment_name" name="comment_name" fw-filter="isFill" fw-label="댓글작성자"
                                               fw-msg="" class="inputTypeText" placeholder="" value="" type="text"></p>
                                    <p class="password">
                                        <strong class="label">비밀번호</strong>
                                        <input id="comment_password" name="comment_password" fw-filter="isFill"
                                               fw-label="댓글비밀번호" fw-msg="" value="" type="password"></p>
                                </div>
                                <p class="ec-base-help displaynone">영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자</p>
                                <div class="comment">
                                    <strong class="label hide">내용</strong>
                                    <textarea id="comment" name="comment" fw-filter="isFill" fw-label="댓글내용"
                                              fw-msg=""></textarea></div>
                                <div class="byteRating">
                                    <p class="byte displaynone"> / byte</p>
                                    <p class="rating displaynone">
                                        <strong class="label">평점</strong>
                                    </p>
                                </div>
                                <div class="captcha displaynone">
                                    <span class="img"> </span>
                                    <div class="form">
                                        <p>왼쪽의 문자를 공백없이 입력하세요.</p>
                                    </div>
                                </div>
                                <div class="ec-base-button">
                                    <div class="secret gLeft displaynone">
                                        <label> 비밀댓글</label>
                                    </div>
                                    <button type="button" class="btnStrong mini "
                                            onclick="BOARD_COMMENT.comment_insert('/exec/front/Board/CommentWrite/4');">
                                        댓글등록
                                    </button>
                                </div>
                            </fieldset>
                        </div>
                        <div class="boardCommentAuthority displaynone">
                            <p>에게만 댓글 작성 권한이 있습니다.</p>
                        </div>
                    </div>
                </form>
            </div>


            <div class="xans-element- xans-board xans-board-movement-4 xans-board-movement xans-board-4 ">
                <ul class="boardMovement">
                    <li class="prev ">
                        <strong>이전글</strong><a href="/article/review/4/12236/">잘 산 것 같아 기분이 좋아...</a>
                    </li>
                    <li class="next ">
                        <strong>다음글</strong><a href="/article/review/4/12231/">아직 입어보진않았지만 그림이 예뻐서 좋아요</a>
                    </li>
                </ul>
            </div>


        </div>
    </div>


    <!-- board seach area -->
    <div id="board-search">
        <div class="container">
            <div class="search-window">
                <form action="">
                    <div class="search-wrap">
                        <label for="search" class="blind">글 내용 검색</label>
                        <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                        <button type="submit" class="btn btn-dark">검색</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <button class="write-btn btn-dark">글쓰기</button>
    </div>


</section>


</body>
</html>